<div class="jumbotron text-center">
  <h1>GCP bikes localizator.</h1>
  <p class="lead">Find free bikes in the City.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Adresses</h3>
    <p>There will be test addresses put. There will be test addresses put.</p>
  </div>
  <div class="col-md-8">
    <h3>Map API</h3>
    <p>There will be google map displayed. There will be google map displayed. There will be google map displayed. There will be google map displayed. There will be google map displayed. There will be google map displayed. There will be google map displayed. There will be google map displayed. There will be google map displayed. </p>
  </div>
</div>